<!-- Card -->
<div class="card mb-3 mb-lg-5 position-sticky" style="top: 70px;">
    <!-- Body -->
    <div class="card-body">
        <div class="d-flex align-items-md-center">
            <div class="flex-shrink-0">
                <span class="display-3 text-dark">{{$ctrl.count}}</span>
            </div>

            <div class="flex-grow-1 ms-3">
                <div class="row mx-md-n3">
                    <div class="col-md px-md-4">
                        <span class="d-block">{{$ctrl.label}}</span>
                        <h4 class="d-block">{{$ctrl.flagTitle}}</h4>
                    </div>
                    <!-- End Col -->
                </div>
                <!-- End Row -->
            </div>
        </div>
    </div>
    <!-- End Body -->
</div>
<!-- End Card -->