<div class="row justify-content-lg-center">
    <div class="col-lg-10">
        <!-- Profile Cover -->
        <div class="profile-cover">
            <div class="profile-cover-img-wrapper">
                <img class="profile-cover-img" src="{{cover}}" alt="Image Description">
            </div>
        </div>
        <!-- End Profile Cover -->

        <!-- Profile Header -->
        <div class="text-center mb-5">
            <!-- Avatar -->
            <div class="avatar avatar-xxl avatar-circle profile-cover-avatar">
                <img class="avatar-img" src="{{image}}" alt="Image Description">
                <span class="avatar-status avatar-status-success"></span>
            </div>
            <!-- End Avatar -->

            <h1 class="page-header-title">
                {{name}}
                <i class="bi-patch-check-fill fs-2 text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Top endorsed"></i>
            </h1>

            <!-- List -->
            <ul class="list-inline list-px-2">
                <li class="list-inline-item">
                    <i class="bi-geo-alt me-1"></i>
                    <a href="#">{{location}}</a>
                </li>

                <li class="list-inline-item">
                    <i class="bi-phone me-1"></i>
                    <span>{{phone}}</span>
                </li>

                <li class="list-inline-item">
                    <span>{{job}}</span>
                </li>
            </ul>
            <!-- End List -->
        </div>
        <!-- End Profile Header -->

        <div class="row">
            <div class="col-lg-4">

                <!-- Sticky Block Start Point -->
                <div id="accountSidebarNav"></div>

                <!-- Card -->
                <div class="js-sticky-block card mb-3 mb-lg-5" data-hs-sticky-block-options='{
                 "parentSelector": "#accountSidebarNav",
                 "breakpoint": "lg",
                 "startPoint": "#accountSidebarNav",
                 "endPoint": "#stickyBlockEndPoint",
                 "stickyOffsetTop": 20
               }'>
                    <!-- Header -->
                    <div class="card-header">
                        <h4 class="card-header-title">Profile</h4>
                    </div>
                    <!-- End Header -->

                    <!-- Body -->
                    <div class="card-body">
                        <ul class="list-unstyled list-py-2 text-dark mb-0">
                            <li class="pb-0"><span class="card-subtitle">About</span></li>
                            <li><i class="bi-person dropdown-item-icon"></i> {{name}}</li>
                            <li><i class="bi-briefcase dropdown-item-icon"></i> {{bio}}</li>
                            <li><i class="bi-building dropdown-item-icon"></i> {{company}}</li>
                            <li class="pt-4 pb-0"><span class="card-subtitle">Contacts</span></li>
                            <li><i class="bi-at dropdown-item-icon"></i> <a href="mailto:{{email}}">{{email}}</a></li>
                            <li><i class="bi-phone dropdown-item-icon"></i> {{phone}}</li>
                        </ul>
                    </div>
                    <!-- End Body -->
                </div>
                <!-- End Card -->
            </div>

            <div class="col-lg-8">
                <div class="d-grid gap-3 gap-lg-5">
                                        <!-- Card -->
                    <div class="card">
                        <!-- Table -->
                        <div class="table-responsive">
                            <table
                                class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Certificate</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="degree in degrees track by $index">
                                        <td>
                                            <div class="d-flex">
                                                <img class="avatar avatar-sm" src="{{degree.image}}"
                                                    alt="Image Description">
                                                <div class="ms-3">
                                                    <h5 class="mb-0">
                                                        {{degree.title}}
                                                    </h5>
                                                    <small>{{degree.year}}</small>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End Table -->

                        <!-- Footer -->
                        <!-- <a class="card-footer text-center" href="./projects.html">
                            View all projects <i class="bi-chevron-right"></i>
                        </a> -->
                        <!-- End Footer -->
                    </div>
                    <!-- End Card -->
                     
                    <!-- Card -->
                    <div class="card">
                        <!-- Header -->
                        <div class="card-header card-header-content-between">
                            <h4 class="card-header-title">Experience</h4>

                            <!-- Dropdown -->
                            <div class="dropdown">
                                <button type="button" class="btn btn-ghost-secondary btn-icon btn-sm rounded-circle"
                                    id="contentActivityStreamDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi-three-dots-vertical"></i>
                                </button>

                                <div class="dropdown-menu dropdown-menu-end mt-1"
                                    aria-labelledby="contentActivityStreamDropdown">
                                    <span class="dropdown-header">Settings</span>

                                    <a class="dropdown-item" href="#">
                                        <i class="bi-share-fill dropdown-item-icon"></i> Share connections
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi-info-circle dropdown-item-icon"></i> Suggest edits
                                    </a>

                                    <div class="dropdown-divider"></div>

                                    <span class="dropdown-header">Feedback</span>

                                    <a class="dropdown-item" href="#">
                                        <i class="bi-chat-left-dots dropdown-item-icon"></i> Report
                                    </a>
                                </div>
                            </div>
                            <!-- End Dropdown -->
                        </div>
                        <!-- End Header -->

                        <!-- Body -->
                        <div class="card-body card-body-height" style="max-height: 30rem;">
                            <!-- Step -->
                            <ul class="step step-icon-xs mb-0">
                                <!-- Step Item -->
                                <li ng-attr-id="{{ $index > 2 ? 'collapseActivitySection' : null }}" ng-class="{
                                        'collapse': $index > 2
                                    }" class="step-item" ng-repeat="work in works track by $index">
                                    <div class="step-content-wrapper">
                                        <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>
                                        <div class="step-content">
                                            <h5 class="step-title">
                                                <img src="{{work.image}}" width="50" class="rounded me-2" alt="">
                                                <a class="text-dark" href="#">
                                                    {{work.title}}
                                                </a>
                                            </h5>

                                            <p class="fs-5 mb-1">
                                                {{work.startData}} - {{work.endDate}}
                                            </p>

                                            <p class="fs-5 mb-1">
                                                {{work.locationType}}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Step Item -->
                            </ul>
                            <!-- End Step -->
                        </div>
                        <!-- End Body -->

                        <!-- Footer -->
                        <!-- <div class="card-footer">
                            <a class="link link-collapse" data-bs-toggle="collapse" href="#collapseActivitySection"
                                role="button" aria-expanded="false" aria-controls="collapseActivitySection">
                                <span class="link-collapse-default">View more</span>
                                <span class="link-collapse-active">View less</span>
                            </a>
                        </div> -->
                        <!-- End Footer -->
                    </div>
                    <!-- End Card -->
                </div>

                <!-- Sticky Block End Point -->
                <div id="stickyBlockEndPoint"></div>
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Col -->
</div>
<!-- End Row -->