<div class="row">
    <div class="col-lg-4">
        <!-- Card -->
        <div class="card mb-3 mb-lg-5">
            <!-- Body -->
            <div class="card-body">
                <div class="d-flex align-items-md-center">
                    <div class="flex-shrink-0">
                        <span class="display-3 text-dark">{{skills.length}}</span>
                    </div>
        
                    <div class="flex-grow-1 ms-3">
                        <div class="row mx-md-n3">
                            <div class="col-md px-md-4">
                                <span class="d-block">Total skills</span>
                            </div>
                            <!-- End Col -->
                        </div>
                        <!-- End Row -->
                    </div>
                </div>
            </div>
            <!-- End Body -->
        </div>
        <!-- End Card -->
    </div>
    <div class="col-lg-8">
        <!-- Card -->
        <div class="card">
            <!-- Table -->
            <div class="table-responsive datatable-custom">
                <table id="datatable"
                    class="table table-lg table-borderless table-thead-bordered table-nowrap table-align-middle card-table">
                    <thead class="thead-light">
                        <tr>
                            <th>Skill</th>
                            <th>Precent</th>
                            <th>Progress</th>
                        </tr>
                    </thead>
        
                    <tbody>
                        <tr ng-repeat="skill in skills track by $index">
                            <td class="table-column-ps-0">
                                <div class="ms-3">
                                    <span class="d-block h5 text-inherit mb-0">{{skill.name}}</span>
                                </div>
                            </td>
                            <td>
                                <span class="fs-6 me-2">{{skill.level}}%</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="progress table-progress">
                                        <div class="progress-bar bg-primary" role="progressbar" ng-style="{
                                            width: '{{skill.level}}%'
                                        }" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- End Table -->
        </div>
        <!-- End Card -->
    </div>
</div>
